body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#header {
    /* display: flex; */
    justify-content: flex-end; /* Place the button on the right */
    /* width: 100%; */
    padding: 10px; /* Add some spacing if needed */
}

#container {
    display: flex;
    align-items: center; /* Vertically center the tools and frog container */
    margin-top: 20px;
    @media (max-width: 767px) {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

#frogContainer {
    position: relative;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 50px;
    height: 500px;
    width: 600px;
    table-layout: fixed;
}

.title {
    font-weight: bold;
	top: 10px;
    left: 10px;
	position: absolute;
	font-size:24px;
	font-family:Poppins;
}

#overlay {
    position: absolute;
    top: 65%;
    left: 35%;
    /* transform: translate(-50%, -50%); */
    pointer-events: none; /* Allow interaction with the frog image */
}

#overlayImage {
    max-width: 100%;
}

#frogImage {
    max-width: 100%;
    transition: transform 0.5s ease-in-out;
}

#tools {
    display: flex;
    /* flex-direction: column; */
    margin-right: 20px;
}

.tool {
    cursor: pointer;
    margin: 0 10px;
    padding-bottom: 20px;
}

.primary-button {
  background-color: #f037a5;
  color: white;
  border: none;
  font-size: 16px;
  padding: 7px 25px;
  border-radius: 20px;
  margin: 5px;
}
.position{
  margin-top: -80px;
  width: 65%;
}

.disabled {
    opacity: 0.2; /* Set the desired opacity value */
    pointer-events: none; /* Disable pointer events */
}

@media (max-width: 767px) {
    .tool {
        height: 100px;
    }
    #tools {
        margin-right: unset;
    }
    #frogContainer {
        /* padding: 25px; */
        padding-bottom: unset;
    }
   .tray {
        width: 65%;
   }
   .position {
    margin-top: unset;
    height: 150px;
    }
    #overlay {
        left: 35%;
        width: 30%;
        height: 55%;
    }
}
